@media only screen and (max-width: 475px) {

.container{
    #calculate{
        position: relative;
        left: 59px;
        
        margin: 10px 131px;
        margin-bottom: 30px;
        
    }

    .content{
        height: 900px;
        margin-left: -60px;
    
        .result{
            flex-direction: column;
            gap: 20px;

            margin-left: 121px;
    
            .finalTotalDiv, .totalInvestedDiv, .totalInterestRateDiv{
                flex-direction: column;
            }
        }
    }

    .form{
        flex-direction: column;

        #initial_value, #monthly_value{
            width: 300px;
            margin-left: 100px;
        }
    
        #initial_value{
            margin-left: 100px;
        }
    
        label{
            position: absolute;
        }

        #label1{
            margin-left: 100px;
        }

        #label2{
            margin-left: 100px;
            margin-top: 90px;
        }

        #label3{
            margin-left: 100px;
            margin-top: 180px;
        }

        #label4{
            margin-left: 100px;
            margin-top: 270px;
        }

        input{
            margin-left: 100px;
        }

        select{
            left: 440px;
            bottom: 46px;
            
            margin: -19px -140px;
            }
        }
    }
}